.containerCarrousel {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  height: 25%;
}

.imgCarrousel {
  border-radius: 25px;
  object-fit: cover;
  height: 415px;
  width: 100%;
}

.containerCarrousel svg {
  width: 48px;
  height: 48px;
}

.containerCarrousel svg path {
  fill: #fff;
}

.leftArrow,
.rightArrow {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rightArrow {
  left: 92%;
}

.index {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: white;
}

/*Media queries Tablettes et Mobiles*/
@media (max-width: 768px) {
  .containerCarrousel svg {
    width: 25px;
    height: 25px;
  }
}



/*Media queries Mobiles*/
@media (max-width: 480px) {
  .containerCarrousel svg {
    width: 12px;
    height: 20px;
  }

  .imgCarrousel {
    width: 335px;
    height: 255px;
    border-radius: 10px;
  }

 
  

  .index {
    font-size: 12px;
  }
}
