.containerRating {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.star {
  margin-left: 10px;
}

/*Media queries Tablettes*/
@media (max-width: 768px) {
  .containerRating {
    height: 20px;
    justify-content: flex-start;
    margin-bottom: 0px;
  }

  .star {
    margin-right: 2px;
  }
}

/*Media queries Mobiles*/
@media (max-width: 480px) {
  .containerRating {
    width: 100px;
    height: 15px;
    margin-top: 0px;
  }

  .star {
    margin: 0px 2px 0px 2px;
  }

}
