.containerTag {
  margin-top: 27px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 0px 12px 0px 12px;
  color: white;
  height: 25px;
  background-color: #ff6060;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Media queries Mobiles*/
@media (max-width: 480px) {
  .tag {
    height: 18px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerTag {
    margin-top: 17px;
  }
}
