.aboutBannerImg {
    border-radius: 25px;
    opacity: 0.8;
    height: 223px;
    width: 100%;
    object-fit: cover;
}

.cardBannerImg {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.7);
    height: 223px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    object-fit: cover;
    position: relative;
   }
    
.aboutBanner {
    display: flex;
    justify-content: center;
    

}

/*Media queries Mobiles*/
@media (max-width: 480px) {
  .cardBannerImg {
    border-radius: 10px;
    margin-top: 10px;
  } 

  .aboutBannerImg {
    height: 100%;
    border-radius: 10px;
  }

  }




