.titleLodging {
    position: relative;
    color: #FF6060;
    margin: 0px;
    font-size: 36px;
  }
  
  .location, .hostName {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500; 
  }
  
  .hostName {
    width: 70px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }
  
  .wrapHostNameAndPicture {
    display: flex;
    justify-content: flex-end;
  }
  
  
  .containerInformation {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
  }


  /*Pour l'image seule*/
  .containerImageSolo {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    height: 25%; 
  }
  .imageWithoutIndex {
    border-radius: 25px;
    object-fit: cover;
    height: 415px;
    width: 100%;
  }


  @media (max-width: 768px) {
    .containerInformation {
      display: inherit;
    }

    .wrapHostNamePictureAndRating {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 20px;
      justify-content: space-between;
      
    }

    .containerCollapse {
      margin-left: 5%;
      margin-right: 5%;

    }


  
  }

