.titleLodging {
  position: relative;
  color: #ff6060;
  margin: 0px;
  font-size: 36px;
}

.location,
.hostName {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
}

.hostName {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
}

.hostPicture {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

.wrapHostNameAndPicture {
  display: flex;
  justify-content: flex-end;
}

.containerInformation {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.wrapper {
  flex: 1;
}

/*Pour l'image seule*/
.containerImageSolo {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  height: 25%;
}
.imageWithoutIndex {
  border-radius: 25px;
  object-fit: cover;
  height: 415px;
  width: 100%;
}

/*Adaptation Composant Collapse pour LodgingPage*/
.wrapperCollapses {
  display: flex;
  justify-content: space-between;
  margin-inline: 5%;
  gap: 20px;
}

.wrapperCollapses .containerCollapse {
  max-width: 582px;
}

/*Media queries Tablettes et Mobiles*/
@media (max-width: 768px) {
  .containerInformation {
    display: inherit;
    margin-bottom: 10px;
  }

  .wrapHostNamePictureAndRating {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
  }

  .wrapperCollapses {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

@media (max-width: 480px) {
.titleLodging {
  font-size: 18px;
}
.location  {
  font-size: 14px;
  margin-top: 10px;
}
.hostPicture {
  width: 32px;
  height: 32px;
}

.hostName {
  font-size: 12px;
  width: 60px;
}
.wrapHostNamePictureAndRating {
  margin-top: 20px;
}

.containerCollapse {
  margin-top: 5px;
  margin-bottom: 10px;
}
}