.headerWrap {
  margin: 2rem 4rem 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 210px;
  height: 68px;
}

/*Media queries Tablettes*/
@media (min-width: 481px) and (max-width: 768px) {
  .headerWrap {
    margin-left: 5%;
    margin-right: 5%;
  }

  .logo {
    width: 145px;
  }
}

/*Media queries Mobiles*/
@media (max-width: 480px) {
  .headerWrap {
    margin: 20px 20px 0px 20px;
  }

  .logo {
    width: 145px;
  }
}


