.aboutCollapses {
  width: 80%;
  margin: auto;
}

.aboutWrap {
  flex: 1; /*pour étirer sur la page*/
}

/*Media queries Mobiles*/
@media (max-width: 480px) {
  .aboutCollapses {
    width: 90%;
  }
}
